<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Url Shortner</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <div clss="container">
    <h2>Url Shortner</h2>
    <form action="" method="POST" class="my-4 form-inline">
        <label for="Url" class="sr-only">Url</label>
        <input type='url' placeholder="Url" class="form-control col mr-2" name="fullUrl" id="fullUrl">
        <button type="submit" class="btn btn-success">Shrink</button>
    </form>
    <table class="table table-striped table-responsive"><thead>
        <tr>
            <th>Full Url</th>
            <th>Short Url</th>
            <th>Clicks</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td><a href="https://www.google.com" >https://www.google.com</a></td>
        <td href="https://www.google.com" >https://www.google.com</td>
        <td>0</td>
    </tr>
</tbody>
</table>
</div>
</body>
</html>